.container {
  width: auto;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 600px;
  font-size: 70px;
  margin-bottom: 10rem;
  margin-left: 5rem;
  color: var(--blue-text);
}

.container img {
  height: 100%;
}

.span {
  font-weight: 500;
  color: black;
}
