.container {
  width: 100%;
  background-color: var(--black-light-bg);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7), 0 5px 20px 0 rgba(0, 0, 0, 0.9);
  border-radius: 0.2rem;
  color: white;
}

.container h2 {
  padding: 2rem 2rem 1.5rem 1rem;
  border-bottom: 1px solid rgb(150, 136, 136);
  color: var(--blue);
  margin: 0.5rem;
  font-size: 2rem;
}

.skillsContainer {
  display: flex;
  gap: 4rem;
  padding: 2rem 2rem 3rem 2rem;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.skill img {
  width: 6rem;
}

@media only screen and (min-width: 690px) and (max-width: 900px) {
  .skillsContainer {
    gap: 3rem;
  }
  .skill img {
    width: 5rem;
  }
}

@media only screen and (max-width: 690px) {
  .skillsContainer {
    gap: 2rem;
  }
  .skill img {
    width: 3rem;
  }
}
