.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 10rem;
  background-color: var(--black-light-bg);
  border-radius: 0.2rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7), 0 5px 20px 0 rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem;
}

.container h2 {
  font-size: 2rem;
  color: var(--blue);
}

.container h3 {
  font-size: 1.5rem;
  color: var(--blue-extra-light);
  margin-top: 0.2rem;
}
.container span {
  margin-top: 1rem;
}
