.link {
  text-decoration: none;
  cursor: pointer;
}

.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 40rem;
  width: fit-content;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card img {
  width: 2.5rem;
}

.card span {
  color: var(--blue);
}
