.content {
  padding: 3rem;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}
