.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 12.5rem;
  background-color: black;
  height: 100vh;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid rgb(150, 136, 136);
  padding: 2rem 0.5rem 2rem 1.3rem;
}

.header h1 {
  margin: 0;
  color: var(--blue);
  font-family: Avenir;
  font-weight: 400;
}

.header p {
  color: var(--red);
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}

.section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section img {
  width: 60px;
}
