*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --blue: #517933;
  --blue-extra-light: #accbff;
  --red-dark: #4e2d22;
  --red: #795548;
  --black-light-bg: #525252;
  --black-bg: #3e3e3e;
}
